{% extends 'base.html' %}

{% block content %}
<div class="container">
<h2>Cadastrar Setor</h2>

<form method="post" class="form">
    {% csrf_token %}
    <div class="form-group">
        <label for="nome">Nome do Setor:</label>
        <input type="text" id="nome" name="nome" required>
    </div>
    <div class="form-group">
        <label for="chefe_imediato">Chefe Imediato:</label>
        <input type="text" id="chefe_imediato" name="chefe_imediato" required>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label for="cargo_chefe">Cargo do Chefe:</label>
            <input type="text" id="cargo_chefe" name="cargo_chefe" required>
        </div>

        <div class="form-group">
            <label for="portaria_chefe">Portaria:</label>
            <input type="text" id="portaria_chefe" name="portaria_chefe" required>
        </div>
        <div class="form-group">
            <label for="matricula">Matricula:</label>
            <input type="text" id="matricula" name="matricula" required>
        </div>
    </div>    
    <button type="submit" class="btn-secondary">Cadastrar</button>
</form>
</div>
<div class="dashboard-container">
    <h2>Lista de Setores</h2>
    <table class="dashboard-table">
        <thead>
            <tr>
                <th>Nome do Setor</th>
                <th>Chefe Imediato</th>
                <th>Cargo</th>
                <th>Matrícula</th>
                <th>Portaria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for setor in setores %}
            <tr>
                <td>{{ setor.nome }}</td>
                <td>{{ setor.chefe_imediato}}</td>
                <td>{{ setor.cargo_chefe }}</td>
                <td>{{ setor.matricula_chefe }}</td>
                <td>{{ setor.portaria_chefe }}</td>
                <td style="display:flex; flex-wrap: wrap;">
                    <form method="post" action="{% url 'excluir_setor' setor.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn-danger">Excluir</button>
                    </form>
                    <a href="{% url 'editar_setor' setor.id %}" class="btn-secondary">Editar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Nenhum setor cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% load static %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}