{% extends "base.html" %}
{% block content %}
  <div class="container">
    <!--{% if request.user.tipo_usuario != "funcionario" %}
      <div class="container-btn-dashboard" style="display: flex; flex-wrap: wrap; justify-content: space-between; gap: 10px;" >
        <a href="{% url 'cadastrar_dia_especial' %}" class="btn-card">📅 Cadastrar Feriados/Facultados</a>
      </div>
    {% endif %}-->
    <h2>Gerar Folha de Ponto</h2>
    <form method="get" class="form">
  <label for="setores">Filtrar por Setor:</label>
  <select name="setores" id="setores" multiple onchange="this.form.submit()">
    {% for setor in setores %}
      <option value="{{ setor.id }}" {% if setor.id|stringformat:"s" in setores_ids %}selected{% endif %}>
        {{ setor.nome }}
      </option>
    {% endfor %}
  </select>
  <small>Segure CTRL (ou CMD no Mac) para selecionar múltiplos setores.</small>
</form>

    <form method="post" class="form">
      
      <label>Selecione os meses (opcional):</label><br>
      <div class="checkbox-list form-row" id="lista-servidores">
        {% for mes_num, nome_mes in meses %}
          <div class="servidor-item">
            <label >
              <input type="checkbox" name="meses" value="{{ mes_num }}">
              {{ nome_mes }}/{{ ano_atual }}
            </label>
          </div>
        {% endfor %}
      </div>

      {% csrf_token %}
      <div class="form-group">
        <small style="color:#777;">Selecione um ou mais servidores.</small><br>
        <button type="submit" class="btn-primary">Gerar PDFs</button>
        <label for="filtro-servidores">Pesquisar Servidor:</label>
        <input type="text" id="filtro-servidores" placeholder="Digite o nome do servidor...">
      </div>
      <div class="checkbox-list form-row" id="lista-servidores">
        {% for servidor in servidores %}
          <div class="servidor-item">
            <label>
              <input type="checkbox" name="servidores" value="{{ servidor.id }}"
              {% if servidor.setor.id|stringformat:"s" in setores_ids %}checked{% endif %}>
              {{ servidor.primeiro_e_ultimo_nome }} - {{ servidor.setor.nome }}
            </label>
          </div>
        {% endfor %}
      </div>
    </form>
  </div>
  <script>
    // Captura o campo de pesquisa
    const filtroInput = document.getElementById("filtro-servidores");
    const listaServidores = document.getElementById("lista-servidores").getElementsByClassName("servidor-item");

    filtroInput.addEventListener("keyup", function() {
      const filtro = filtroInput.value.toLowerCase();
      for (let i = 0; i < listaServidores.length; i++) {
        const item = listaServidores[i];
        const texto = item.textContent.toLowerCase();
        // Mostra ou esconde conforme o filtro
        if (texto.includes(filtro)) {
          item.style.display = "";
        } else {
          item.style.display = "none";
        }
      }
    });
  </script>
{% endblock %}
