
{% extends 'base.html' %}

{% block content %}
<form method="post" action="{% url 'gerar_pdf_servidores' %}" class="form-group">
    {% csrf_token %}
    {% for servidor in servidores %}
        <div>
            <input type="checkbox" name="servidores" value="{{ servidor.id }}">
            {{ servidor.nome }} - {{ servidor.matricula }}
        </div>
    {% endfor %}
    <button type="submit" class="btn-secondary">Gerar PDF</button>
</form>

{% if pdf_url %}
    <a href="{{ pdf_url }}" target="_blank">Baixar PDF</a>
{% endif %}
{% endblock %}
