{% load static %}
{% extends 'base.html' %}

{% block content %}
    <h1>Sobre o VSAN</h1>
    <p>O VSAN é um sistema de gerenciamento de armazenamento virtualizado que permite criar e gerenciar um pool de armazenamento usando recursos de hardware existentes. Ele é projetado para fornecer alta disponibilidade, desempenho e escalabilidade para ambientes de data center.</p>
    <p>Com o VSAN, você pode consolidar o armazenamento em um cluster de servidores, eliminando a necessidade de arrays de armazenamento dedicados. Ele suporta uma variedade de tipos de armazenamento, incluindo discos rígidos, unidades de estado sólido (SSDs) e até mesmo armazenamento em nuvem.</p>
    <p>O VSAN oferece recursos avançados, como replicação de dados, snapshots, deduplicação e compressão, para otimizar o uso do armazenamento e garantir a integridade dos dados. Ele também é integrado ao vSphere, permitindo uma fácil administração e monitoramento do ambiente virtualizado.</p>
{% endblock %}