{% load static %}

<header class="header">
    <a href="{% url 'home' %}" class="logo">VSAN</a>
    
    <!-- Botão hamburger -->
    <!--<button class="menu-toggle" aria-label="Abrir Menu">&#9776;</button>-->
    
    <nav class="nav">
        {% if user.is_authenticated %}
            <span class="user-info">Olá, {{ user.username }}!</span>
        <ul class="menu">
            <li><a href="{% url 'logout' %}" class='btn-primary'>Logout</a></li>
            <li><a href="{% url 'dashboard' %}" class='btn-primary'>📊 Dashboard</a></li>
        </ul>
        {% else %}
        <ul class="menu">
            <li><a href="{% url 'login' %}" class='btn-primary'>Login</a></li>
            <li><a href="{% url 'cadastrar_usuario' %}" class="btn-primary">Criar conta</a></li>
        </ul>
        {% endif %}
    </nav>
<!--
    <div class="auth-buttons">
        {% if user.is_authenticated %}
            <span class="user-info">Olá, {{ user.username }}!</span>
            <a href="{% url 'logout' %}" class='btn-primary'>Logout</a>
            <a href="{% url 'dashboard' %}" class='btn-primary'>📊 Dashboard</a>
        {% else %}
            <a href="{% url 'login' %}" class='btn-primary'>Login</a>
            <a href="{% url 'cadastrar_usuario' %}" class="btn-primary">Criar conta</a>
        {% endif %}
    </div>
    -->
</header>
