{% load static %}
<header class="header">
    <a href="{% url 'home' %}" class="logo">VSAN</a>
    <nav>
        <ul class="menu">
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'about' %}">Sobre</a></li>
            <li><a href="{% url 'contact' %}">Contato</a></li>
        </ul>
    </nav>
    <div class="auth-buttons">
    {% if user.is_authenticated %}
        <span class="user-info">Olá, {{ user.username }}!</span>
        <button><a href="{% url 'dashboard' %}" class='btn-secondary'>Dashboard</a></button>
        <button><a href="{% url 'logout' %}" class='btn-secondary'>Logout</a></button>
    {% else %}
        <button><a href="{% url 'login' %}" class='btn-secondary'>Login</a></button>
    {% endif %}
    </div>
</header>