<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>pdf_prestacao_contas</title>
        <style>
            * { margin: 0; padding: 0; box-sizing: border-box; }
            body { margin: 20px; padding: 20px; font-family: 'Times New Roman', Times, serif; font-size: 14px; }
            /*.brasao { position: fixed; top: 0; margin-right: 40px; margin-top: 20px; right: 0; width: 80px; height: auto; }*/
            .select { width: 30px; height: auto; }
            .sus { position: fixed; top: 0; margin-left: 20px; margin-top: 30px;  left: 0; width: 200px; height: auto; }
            .vsan { position: fixed; top: 0; margin-right: 40px; margin-top: 20px;  right: 0; width: 90px; height: auto; }
            /*.top-text { font-size: 12.5px; position: fixed; text-align: center; top: 0; margin-top: 30px; left: 52%; transform: translateX(-50%); }*/
            .brasao { position: fixed; top: 0; margin-top: 20px; left: 50%; transform: translateX(-50%); width: 60px; height: auto; }
            .top-text { font-size: 12.5px; text-align: center; margin-top: 30px;}
            /* Linha superior centralizada */
            .linha-topo { position: fixed; top: 140px; left: 0; width: 100%; height: auto; }
            h3 { text-align: center;  margin-bottom: 1px; }
            .center_text { text-align: center; }
            table { width: 100%; border-collapse: collapse;  font-size: 15px; margin-top: 10px; margin-bottom: 60px; }
            tr, td { border: 0.5px solid #000000; text-align: left; padding: 2px;}
            @page:first { margin: 0; padding: 0; }
            /* Remove margens padrão do PDF */
            @page { margin: 0; padding: 0; margin-top: 5px; }
            
            /* Estrela canto inferior esquerdo */
            .estrela { position: fixed; bottom: 0; left: 0; width: 120px; /* ajuste conforme necessário */ height: auto; z-index: 2; }
            /* Linha inferior centralizada */
            .linha-boton { position: fixed; bottom: 45px; right: 0; width: 100%; height: auto; z-index: 1; }
            .footer-devs { left: 50%; transform: translateX(-50%); text-align: center; color: #000; bottom: 25px; position: fixed; width: 100%; }
            .fundo_titulo { background-color: #8db3e2;}
            .bloco-topo1 {
                padding-top: 10px; /* altura do top-text + 20px de espaço */
            }
            .bloco-topo2 {
                padding-top: 50px; /* altura do top-text + 20px de espaço */
            }
            .segunda-tabela {
                margin-top: 10px;
            }
            .assinatura {
                display: flex;
                flex-direction: column;
                align-items: center;   /* centraliza horizontal */
                justify-content: center; /* centraliza vertical */
                height: 80%;          /* ocupa toda a altura da célula */
                text-align: center;
            }
            .linha {
                width: 80%;           /* linha menor que a célula */
                margin-top: 40px;       /* centraliza horizontalmente */
                border-top: 1px solid #000;
            }
            .texto {
                font-size: 14px;
            }
        </style>
    </head>
    <body>
        <div class="bloco-topo1">
        {% for servidor in servidores %}
            <!--<img src="file:///home/vsan/vsan/static/img/estrela_para.png" alt="Estrela" class="estrela">-->
            <!--<img src="file:///home/vsan/vsan/static/img/linha_boton.png" alt="Linha inferior" class="linha-boton">-->
            <!--<img src="file:///home/vsan/vsan/static/img/linha_topo.png" alt="Linha superior" class="linha-topo">-->
            <img src="file:///home/vsan/vsan/static/img/brasao.png" alt="Brasao" class="brasao">
            <!--<img src="file:///home/vsan/vsan/static/img/vsan.png" alt="Vigilância Sanitária" class="vsan">-->
            <!--<img src="file:///home/vsan/vsan/static/img/sespa.png" alt="SUS" class="sus">-->
            <div  class="top-text">
            <strong>SECRETARIA DE ESTADO DE SAÚDE PÚBLICA DO PARÁ</strong><br>
            DIRETORIA ADMINISTRATIVA E FINANCEIRA<br>
            DIVISÃO DE PRESTAÇÃO DE CONTAS
        </div>
            
            <table>
                <tr class="fundo_titulo">
                    <td colspan="6" class="center_text">
                        <strong><h3>RELATÓRIO DE VIAGEM</h3></strong> Decreto Estadual N° 3.792 de 22 de Março de 2024, Publicado no DOE Nº 35.757 de 25/03/2024.
                    </td>
                    
                </tr>
                <tr class="fundo_titulo">
                    <td colspan="6" >
                        <strong><h3>DADOS DO BENEFICIÁRIO</h3></strong><p style="font-size: 6px;">&nbsp;</p>
                    </td>
                    
                </tr>
                <tr>
                    <td class="center_text" style="width: 165px;">
                        Nome
                    </td>
                    <td colspan="5">
                        {{ servidor.nome|upper }}
                    </td>
                </tr>
                <tr>
                    <td class="center_text">
                        CPF
                    </td>
                    <td colspan="2" >
                        {{ servidor.cpf }}
                    </td>
                    <td class="center_text" style="width: 30px; margin: 1px;">
                        Matrícula
                    </td>
                    <td colspan="2">
                        {{ servidor.matricula }}
                    </td>
                </tr>
                <tr>
                    <td class="center_text">
                        Cargo/Função
                    </td>
                    <td colspan="2">
                        {{ servidor.cargo }}/
                        {% if servidor.funcao != None %}
                            {{ servidor.funcao|title }}
                        {% endif %}
                    </td>
                    <td class="center_text">
                        Lotação
                    </td>
                    <td colspan="2">
                        {{ servidor.setor.nome }}
                    </td>
                </tr>
                <tr>
                    <td class="center_text">
                        Telefone
                    </td>
                    <td class="center_text">
                        {{ servidor.telefone }}
                    </td>
                    <td colspan="3" class="center_text">
                        Nº do processo de concessão de diárias
                    </td>
                    <td>
                        {{ atividade.numero_processo }}
                    </td>
                </tr>
                <tr class="fundo_titulo">
                    <td colspan="6" >
                        <h3>DADOS GERAIS DA VIAGEM</h3><p style="font-size: 6px;">&nbsp;</p>
                    </td>
                    
                </tr>
                <tr>
                    <td class="center_text">
                        Portaria Nº
                    </td>
                    <td colspan="3">
                        {{ atividade.portaria_numero }}
                    </td>
                    <td class="center_text">
                        Data
                    </td>
                    <td>
                        {{ atividade.data_prestacao }}
                    </td>
                    
                </tr>
                <tr>
                    <td class="center_text">
                        Objetivo
                    </td>
                    <td colspan="5">
                        {{ atividade.objetivo_prestacao }}
                    </td>


<!--
                    <td colspan="1" style="width:30%;">
                        <strong>Período da Viagem:</strong><br>{{ periodo_formatado }}
                    </td>
                    <td colspan="1" style="width:30%;">
                        <strong>Nº Dias / Diárias:</strong><br>{{ atividade.dias_diarias }}
                    </td>
                    <td>
                        <strong>Pernoite:</strong><br>{{ atividade.pernoite }}
                    </td>
                    <td colspan="1" style="width:33%;">
                        <strong>CPF:</strong><br>{{ servidor.cpf }}
                    </td>
                    <td colspan="1" style="width:33%;">
                        <strong>RG:</strong><br>{{ servidor.rg }}
                    </td>
                    <td>
                        <strong>Data Nascimento:</strong><br>{{ servidor.nascimento }}
                    </td>
                    -->
                </tr>
                <tr>
                    <td class="center_text">
                        Locais de destino
                    </td>
                    <td colspan="5">
                        Belém/{{ atividade.municipio }}/Belém
                    </td>

                    <!--
                    <td colspan="4" style="width:80%;">
                        <strong>Endereço:</strong><br>{{ servidor.endereco }}
                    </td>
                    <td colspan="5">
                        <strong>Meio de Transporte:</strong><br>{{ atividade.transporte }}
                    </td>
                    -->
                </tr>


                







                <tr>
                    <td rowspan="3" class="center_text">
                        Período
                    </td>
                    <td rowspan="2" class="center_text" style="height: 60px; width: 140px;">
                        Início
                    </td>
                    <td rowspan="2" class="center_text" style="height: 60px; width: 140px;">
                        Retorno
                    </td>
                    <td colspan="3" class="center_text" >
                        Observação
                    </td>
                </tr>
                <tr>
                    
                    <td colspan="3" rowspan="2">
                        {{ atividade.observacao_prestacao }}
                    </td>
                    
                    
                </tr>
               <tr>
                    
                
                    <td rowspan="1" class="center_text">
                        {{ atividade.data_ida }}
                    </td>
                    <td rowspan="1" class="center_text">
                        {{ atividade.data_retorno }}
                    </td>
                    
                </tr>
                <tr>
                    
                    
                    <!--
                    <td colspan="2">
                        <strong>Banco:</strong><br>{{ servidor.banco }}
                    </td>
                    <td colspan="2">
                        <strong>Agência:</strong><br>{{ servidor.agencia }}
                    </td>
                    <td>
                        <strong>Conta Corrente:</strong><br>{{ servidor.conta }}
                    </td>
                    -->
                
                    <!--
                    {% if servidor.cargo == "Motorista" %}
                        <td colspan="5" style="text-align: justify; white-space: pre-line;"><strong>Objetivo:</strong> Conduzir o veículo para {{ atividade.objetivo|lower }}</td>
                    {% else %}
                        <td colspan="5" style="text-align: justify; white-space: pre-line;"><strong>Objetivo:</strong> {{ atividade.objetivo|capfirst }}</td>
                    {% endif %}
                    -->
                
                    <!--
                    <td colspan="5" style="text-align: justify;">
                        <strong> Férias/Licenças Oficiais:</strong> Declaramos que não foi encaminhado à Diretoria do Trabalho e de Educação na Saúde - DGTES o
                        documento de marcação de férias oficiais ou qualquer licença oficial (Lei nº 5.810, de Janeiro de 1994 - RJU-PA) em nome do(a)
                        servidor(a) {{ servidor.nome }} no período do deslocamento indicado neste documento.
                    </td>
                    -->
                </tr>









                <tr>
                    <td colspan="2" class="center_text" >
                        Quantidade de diárias
                    </td>
                    <td colspan="2" class="center_text" >
                        Valor unitário
                    </td>
                    <td colspan="2" class="center_text" >
                        Valor total
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="center_text">
                        {{ diarias }}
                    </td>
                    <td colspan="2" class="center_text">
                        {{ valor_unitario }}
                    </td>
                    <td colspan="2" class="center_text">
                        {{ valor_total }}
                    </td>
                </tr>
                <tr>
                    <td class="fundo_titulo" colspan="6" >
                        <h3>MEIO DE TRANSPORTE</h3><p style="font-size: 6px;">&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        {% if atividade.transporte == "Aéreo" %}
                            &emsp;(X) Aéreo
                        {% else %}
                            &emsp;( ) Aéreo
                        {% endif %}
                    </td>
                    <td colspan="4">* Os Bilhetes Devem Ser Anexados Ao Presente Relatório.</td>
                    </tr>
                <tr>
                    <td colspan="2">
                        {% if atividade.transporte == "Rodoviário" %}
                            &emsp;(X) Rodoviário
                        {% else %}
                            &emsp;( ) Rodoviário
                        {% endif %}
                    </td>
                    <td colspan="4">* Os Bilhetes Devem Ser Anexados Ao Presente Relatório.</td>
                </tr>
                <tr>
                    <td colspan="2">
                        {% if atividade.transporte == "Fluvial" %}
                            &emsp;(X) Fluvial
                        {% else %}
                            &emsp;( ) Fluvial
                        {% endif %}
                    </td>
                    <td colspan="4">* Os Bilhetes Devem Ser Anexados Ao Presente Relatório.</td>
                    </tr>
                <tr>
                    <td colspan="2">
                        {% if atividade.transporte == "Veículo Oficial" or atividade.transporte == "Veículo Oficial (VAN)" %}
                            &emsp;(X) Terrestre (Carro Oficial)
                        {% else %}
                            &emsp;( ) Terrestre (Carro Oficial)
                        {% endif %}
                    </td>
                    <td colspan="4" >
                        {% if atividade.veiculo_prestacao.modelo %}
                            Veículo: <u>{{ atividade.veiculo_prestacao.modelo }}</u><br>
                            Placa: <u>{{ atividade.veiculo_prestacao.placa }}<br>
                        {% else %}
                            Veículo: ______________ <br>
                            Placa: _______________<br>
                        {% endif %}
                        Motorista: 
                        {% if motorista_servidor %}
                            <u>{{ motorista_servidor.nome|upper }}</u>
                        {% else %}
                            ______________________
                        {% endif %}
                        <p style="line-height: 10px;">&emsp;</p>
                    </td>
                </tr>
                <tr>
                    <td class="fundo_titulo" colspan="6" >
                        <h3>DESCRIÇÃO DAS ATIVIDADES DESENVOLVIDAS</h3><p style="font-size: 6px;">&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" style="min-height: 150px;">
                        <p style="line-height: 1.3; text-align: justify; white-space: pre-line;">{{ atividade.objetivo }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="fundo_titulo" colspan="6" >
                        <h3>DEVOLUÇÃO DE RECURSOS</h3><p style="font-size: 6px;">&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" style="padding: 10px;">
                        {% if atividade.get_devolucao_display == "Devolução Total" %}
                            &nbsp;<img src="file:///home/vsan/vsan/static/img/selected.png" alt="select" class="select"> Devolução Total
                            <img src="file:///home/vsan/vsan/static/img/select.png" alt="select" class="select"> Devolução Parcial
                            <img src="file:///home/vsan/vsan/static/img/select.png" alt="select" class="select"> Não se Aplica
                        {% elif atividade.get_devolucao_display == "Devolução Parcial" %}
                        &nbsp;<img src="file:///home/vsan/vsan/static/img/select.png" alt="select" class="select"> Devolução Total
                            <img src="file:///home/vsan/vsan/static/img/selected.png" alt="select" class="select"> Devolução Parcial
                            <img src="file:///home/vsan/vsan/static/img/select.png" alt="select" class="select"> Não se Aplica
                        {% elif atividade.get_devolucao_display == "Não se Aplica" %}
                        &nbsp;<img src="file:///home/vsan/vsan/static/img/select.png" alt="select" class="select"> Devolução Total
                            <img src="file:///home/vsan/vsan/static/img/select.png" alt="select" class="select"> Devolução Parcial
                            <img src="file:///home/vsan/vsan/static/img/selected.png" alt="select" class="select"> Não se Aplica
                        {% endif %}
                    </td>
                </tr>
            </table>
            <footer class="footer-devs">
                <strong>DIVISÃO DE PRESTAÇÃO DE CONTAS</strong><br>End: Tv. Lomas Valentinas, 2190, Marco, Belém, Pará, CEP 66.093-677<br>
                Fone: (91) 4006-4239 | E-mail: <a href="mailto:contatodipcsespa@gmail.com">contatodipcsespa@gmail.com</a>
            </footer>
        </div>
<br><br>
<div class="bloco-topo2">

<div  class="top-text">
            <strong>SECRETARIA DE ESTADO DE SAÚDE PÚBLICA DO PARÁ</strong><br>
            DIRETORIA ADMINISTRATIVA E FINANCEIRA<br>
            DIVISÃO DE PRESTAÇÃO DE CONTAS
        </div>
            
            <table>
                <tr class="fundo_titulo">
                    <td colspan="6" >
                        <strong><h3>HAVENDO DEVOLUÇÃO DE RECURSOS</h3></strong><p style="font-size: 6px;">&nbsp;</p>
                    </td>
                    
                </tr>
                <tr>
                    <td colspan="3">
                        *Dados Bancários: <br>
                        *CNPJ: {{ atividade.cnpj }} <br>
                        *Banco: {{ atividade.banco }} <br>
                        *Agência: {{ atividade.agencia }} <br>
                        *Conta Corrente: {{ atividade.conta_corrente }} <br>
                        <i style="display: flex; flex-direction: column; align-items: center; ">*Informações fornecidas pela DIEF.</i>
                    </td>
                    <td colspan="3" style="width: 50%;">
                         
                        <strong>Obs 1:</strong> Os dados bancários <strong>NÃO</strong> serão informados via telefone; <br>
                        <strong>Obs 2:</strong> Após a efetivação da devolução, anexar o comprovante de depósito ao processo; <br>
                        <strong>Obs 3: NÃO ACEITAMOS PIX – SOMENTE TRANSFERÊNCIA BANCÁRIA.</strong><br>
                    </td>
                </tr>
                
                <tr class="fundo_titulo">
                    <td colspan="6" >
                        <h3>INFORMAÇÕES DO MOTORISTA/CONDUTOR DE VEÍCULO OFICIAL</h3><p style="font-size: 6px;">&nbsp;</p>
                    </td>
                    
                </tr>
                <tr>
                    <td colspan="3">
                        {% if atividade.veiculo_prestacao.modelo %}
                            &emsp;Veículo: <u>{{ atividade.veiculo_prestacao.modelo }}</u><br>
                            &emsp;Placa: <u>{{ atividade.veiculo_prestacao.placa }}</u><br>
                        {% else %}
                            &emsp;Veículo: ______________ <br>
                            &emsp;Placa: _______________ <br><br>
                        {% endif %}
                        
                        
                        <i style="font-size: 12px; font-weight: bold;">*Campo exclusivo para prestação de contas do motorista/condutor de veículo oficial.</i>
                    </td>
                    <td colspan="3">
                        {% if atividade.horario_partida %}
                            Horário Da Partida: <u>{{ atividade.horario_partida }}</u><br>
                            Horário Da Guarda: <u>{{ atividade.horario_guarda }}</u><br><br>
                        {% else %}
                            Horário Da Partida: ______________ <br>
                            Horário Da Guarda: _______________ <br><br>
                        {% endif %}
                        <i style="font-size: 12px; font-weight: bold; text-align: justify;">* §2º, I (…) horário da partida do seu local de guarda e a data de retorno do veículo oficial ao seu local de guarda registrado na autorização de entrada e saída de veículo official; (Dec. 3.792/2024)</i><br>
                    </td>
                    
                    
                </tr>
                <tr class="fundo_titulo">
                    <td colspan="6" >
                        <h3>ANEXOS</h3><p style="font-size: 6px;">&nbsp;</p>
                    </td>
                    
                </tr>
                <tr class="fundo_titulo">
                    <td colspan="3" >
                        <h3>DOCUMENTOS</h3><p style="font-size: 6px;">&nbsp;</p>
                    </td>
                    <td colspan="3" >
                        <h3>SEQUENCIAL DO ANEXO NO PAE </h3><p style="font-size: 6px;">&nbsp;</p>
                    </td>
                </tr>
                <tr >
                    <td colspan="3" style="padding-left: 20px;">
                        {% if 'portaria' in atividade.anexos %}
                            (X) Portaria de concessão
                        {% else %}
                            ( ) Portaria de concessão
                        {% endif %}
                    </td>
                    <td colspan="3" class="center_text">
                        {% if atividade.anexos.portaria %}
                            {{ atividade.anexos.portaria }}
                        {% endif %}
                    </td>
                </tr>
                <tr >
                    <td colspan="3" style="padding-left: 20px;">
                        {% if 'nota' in atividade.anexos %}
                            (X) Nota de empenho
                        {% else %}
                            ( ) Nota de empenho
                        {% endif %}
                    </td>
                    <td colspan="3" class="center_text">
                        {% if atividade.anexos.nota %}
                            {{ atividade.anexos.nota }}
                        {% endif %}
                    </td>
                </tr>
                <tr >
                    <td colspan="3" style="padding-left: 20px;">
                        {% if 'ordem' in atividade.anexos %}
                            (X) Ordem bancária
                        {% else %}
                            ( ) Ordem bancária
                        {% endif %}
                    </td>
                    <td colspan="3" class="center_text">
                        {% if atividade.anexos.ordem %}
                            {{ atividade.anexos.ordem }}
                        {% endif %}
                    </td>
                </tr>
                <tr >
                    <td colspan="3" style="padding-left: 20px;">
                        {% if 'transporte' in atividade.anexos %}
                            (X) Comprovação de transporte
                        {% else %}
                            ( ) Comprovação de transporte
                        {% endif %}
                    </td>
                    <td colspan="3" class="center_text">
                        {% if atividade.anexos.transporte %}
                            {{ atividade.anexos.transporte }}
                        {% endif %}
                    </td>
                </tr>
                <tr >
                    <td colspan="3" style="padding-left: 20px;">
                        {% if 'registro' in atividade.anexos %}
                            (X) Registro da autorização de entrada e saída do veículo oficial
                        {% else %}
                            ( ) Registro da autorização de entrada e saída do veículo oficial
                        {% endif %}
                        <br>
                            <i style="font-size: 12px; font-weight: bold; display: flex; flex-direction: column; align-items: center;"> *Campo exclusivo para prestação de contas do motorista/condutor de veículo oficial. </i>
                    </td>
                    <td colspan="3" class="center_text">
                        {% if atividade.anexos.registro %}
                            {{ atividade.anexos.registro }}
                        {% endif %}
                    </td>
                </tr>
                <tr >
                    <td colspan="3" style="padding-left: 20px;">
                        {% if 'declaracao' in atividade.anexos %}
                            (X) Declaração de participação
                        {% else %}
                            ( ) Declaração de participação
                        {% endif %}
                    </td>
                    <td colspan="3" class="center_text">
                        {% if atividade.anexos.declaracao %}
                            {{ atividade.anexos.declaracao }}
                        {% endif %}
                    </td>
                </tr>
                <tr >
                    <td colspan="3" style="padding-left: 20px;">
                        {% if 'certificado' in atividade.anexos %}
                            (X) Certificado do evento/curso
                        {% else %}
                            ( ) Certificado do evento/curso
                        {% endif %}
                    </td>
                    <td colspan="3" class="center_text">
                        {% if atividade.anexos.certificado %}
                            {{ atividade.anexos.certificado }}
                        {% endif %}
                    </td>
                </tr>
                <tr >
                    <td colspan="3" style="padding-left: 20px;">
                        {% if 'bilhetes' in atividade.anexos %}
                            (X) Bilhetes aéreos
                        {% else %}
                            ( ) Bilhetes aéreos
                        {% endif %}
                    </td>
                    <td colspan="3" class="center_text">
                        {% if atividade.anexos.bilhetes %}
                            {{ atividade.anexos.bilhetes }}
                        {% endif %}
                    </td>
                </tr>
                <tr >
                    <td colspan="3" style="padding-left: 20px;">
                        {% if 'relatorios' in atividade.anexos %}
                            (X) Relatórios
                        {% else %}
                            ( ) Relatórios
                        {% endif %}
                    </td>
                    <td colspan="3" class="center_text">
                        {% if atividade.anexos.relatorios %}
                            {{ atividade.anexos.relatorios }}
                        {% endif %}
                    </td>
                </tr>
                <tr >
                    <td colspan="3" style="padding-left: 20px;">
                        {% if 'fotos' in atividade.anexos %}
                            (X) Fotos
                        {% else %}
                            ( ) Fotos
                        {% endif %}
                    </td>
                    <td colspan="3" class="center_text">
                        {% if atividade.anexos.fotos %}
                            {{ atividade.anexos.fotos }}
                        {% endif %}
                    </td>
                </tr>
                <tr >
                    <td colspan="3" style="padding-left: 20px;">
                        {% if 'comprovante' in atividade.anexos %}
                            (X) Comprovante de devolução
                        {% else %}
                            ( ) Comprovante de devolução
                        {% endif %}
                    </td>
                    <td colspan="3" class="center_text">
                        {% if atividade.anexos.comprovante %}
                            {{ atividade.anexos.comprovante }}
                        {% endif %}
                    </td>
                </tr>
                
                <tr>
                    <td class="fundo_titulo" colspan="6" >
                        <h3>DADOS DA AUTORIDADE QUE AUTORIZOU A VIAGEM</h3><p style="font-size: 6px;">&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 20%; padding-left: 10px;">
                        Nome
                    </td>
                    <td colspan="5">
                        {% if chefe_setor %}
                            {{ chefe_setor.chefe_imediato }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 10px;">
                        Matrícula
                    </td>
                    <td colspan="5">
                        {% if chefe_setor %}
                            {{ chefe_setor.matricula_chefe }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 10px;">
                        Cargo/Função 
                    </td>
                    <td colspan="5">
                        {% if chefe_setor %}
                            {{ chefe_setor.cargo_chefe }}
                        {% endif %}
                    </td>
                </tr>
                
                <tr>
                    <td class="fundo_titulo" colspan="6" >
                        <h3>ASSINATURAS</h3><p style="font-size: 6px;">&nbsp;</p>
                    </td>
                </tr>
                <tr style="height: 100px;">
                    <td colspan="3" >
                        
                        <div class="assinatura">
                            <div class="linha"></div>
                            <div class="texto">Beneficiário</div>
                        </div>
    
                    </td>
                    <td colspan="3" >
                        <div class="assinatura">
                            <div class="linha"></div>
                            <div class="texto">Autoridade Competente</div>
                        </div>
  
                    </td>
                </tr>
                
            </table>

<footer class="footer-devs">
                <strong>DIVISÃO DE PRESTAÇÃO DE CONTAS</strong><br>End: Tv. Lomas Valentinas, 2190, Marco, Belém, Pará, CEP 66.093-677<br>
                Fone: (91) 4006-4239 | E-mail: <a href="mailto:contatodipcsespa@gmail.com">contatodipcsespa@gmail.com</a>
            </footer>

</div>
        {% endfor %}

    </body>
</html>