{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Cadastrar Usuário</h2>
    
    <form method="post" class="form">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" required>
        </div>
        
        <div class="form-group">
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label>Confirmar Senha:</label>
            <input type="password" name="password2" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="matricula">Matrícula do Servidor:</label>
            <input type="text" name="matricula" id="matricula" required>
        </div>
        
        <button type="submit" class="btn-secondary">Cadastrar</button>
    </form>
</div>
{% load static %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}