{% extends 'base.html' %}

{% block content %}
    {% if agendamentos_pendentes %}
        <div class="alert alert-warning"  style="margin-top: 15px;">
            Existem {{ agendamentos_pendentes.count }} agendamentos pendentes para processar.
        </div>
    {% endif %}
    {% if user.is_authenticated %}
        <div class="card-container">
            <p>Painel de Controle</p>
            <!-- Card 1 -->
            {% if request.user.tipo_usuario != "funcionario" %}
                <a href="{% url 'cadastrar_setor' %}" >
                    <div class="card">
                        <div class="icon">📝</div>
                        <div class="card-text">Cadastrar Novo Setor</div>
                    </div>
                </a>
                <!-- Card 2 -->
                <a href="{% url 'gerenciar_contas' %}" >
                    <div class="card">
                        <div class="icon">🔐</div>
                        <div class="card-text">Gerenciar Contas</div>
                    </div>
                </a>
                <!-- Card 3 -->
                <a href="{% url 'gerenciar_autorizacoes' %}" >
                    <div class="card">
                        <div class="icon">✅</div>
                        <div class="card-text">Gerenciar Autorizações</div>
                    </div>
                </a>
            {% endif %}
            <!-- Card 4 -->
            <a href="{% url 'cadastro_servidor_publico' %}" >
                <div class="card">
                    <div class="icon">👤</div>
                    <div class="card-text">Cadastro Público</div>
                </div>
            </a>
            <!-- Card 5 -->
            <a href="{% url 'solicitar_agendamento' %}" >
                <div class="card">
                    <div class="icon">🛫</div>
                    <div class="card-text">Solicitação de viagem</div>
                </div>
            </a>
            <!-- Card 6 -->
            <a href="{% url 'listar_agendamentos' %}" >
                <div class="card">
                    <div class="icon">📋</div>
                    <div class="card-text">Listar/Processar Viagens</div>
                </div>
            </a>
            <!-- Card 7 -->
        
            <!-- Card 8 -->
            <a href="{% url 'listar_atividades' %}" >
                <div class="card">
                    <div class="icon">📃</div>
                    <div class="card-text">Listar/Cadastrar Atividades</div>
                </div>
            </a>
        </div>
    {% endif %}
{% endblock %}