{% extends 'base.html' %}

{% block content %}
    {% if agendamentos_pendentes %}
        <div class="alert alert-warning"  style="margin-top: 15px;">
            Existem {{ agendamentos_pendentes.count }} agendamentos pendentes para processar.
        </div>
    {% endif %}
    {% if user.is_authenticated %}
        <div class="card-container">
            <p>Operacional</p>
            <!-- Card 1 -->
            <a href="{% url 'solicitar_agendamento' %}" >
                <div class="card">
                    <div class="icon">🧑‍✈️</div><!--📘-->
                    <div class="card-text">Agendamento de Viagens</div>
                </div>
            </a>
            <!-- Card 2 -->
            <a href="{% url 'listar_agendamentos' %}" >
                <div class="card">
                    <div class="icon">🛫</div>
                    <div class="card-text">Listar/Processar Viagens</div>
                </div>
            </a>
            <!-- Card 3 -->
             <a href="{% url 'listar_atividades' %}" >
                <div class="card">
                    <div class="icon">📑</div>
                    <div class="card-text">Listar Atividades</div>
                </div>
            </a>
            <!-- Card 4 -->
            <a href="{% url 'gerenciar_memorando' %}" >
                <div class="card">
                    <div class="icon">🗂️</div>
                    <div class="card-text">Gerenciar Memorandos</div>
                </div>
            </a>

            <!-- Card 1 -->
                <a href="{% url 'cadastro_servidor_publico' %}" >
                    <div class="card">
                        <div class="icon">👤</div>
                        <div class="card-text">Cadastro Público</div>
                    </div>
                </a>
                <!-- Card 2 -->
                <a href="{% url 'gerar_folha_plantao' %}" >
                    <div class="card">
                        <div class="icon">📋</div>
                        <div class="card-text">Folha de Plantão</div>
                    </div>
                </a>
                <!-- Card 3 -->
                <a href="{% url 'gerar_folha_ponto' %}" >
                    <div class="card">
                        <div class="icon">📃</div>
                        <div class="card-text">Folha de Ponto</div>
                    </div>
                </a>
        </div>
    {% endif %}
{% endblock %}