{% extends 'base.html' %}

{% block content %}
    
    {% if user.is_authenticated %}
        {% if agendamentos_pendentes %}
            <div class="alert alert-warning"  style="margin-top: 15px;">
                Existem {{ agendamentos_pendentes.count }} agendamentos pendentes para processar.
            </div>
        {% endif %}
        <div class="card-container">
            <p>Home</p>
            {% if request.user.tipo_usuario != "funcionario" and request.user.tipo_usuario != "coordenador" %}
                
            {% endif %}
    {% endif %}
{% endblock %}